Doctype
  html
     head
        title Exploring the Pug template Result
     body
        h1 The Number Quiz
        p Your current score is  #{score}
        p You have completed the Number Quiz, with score #{score} out of #{totalScore}